@model List<string>
@{
    List<string> days = ViewData["days"] as List<string>;

}
<div class="card">
    <div class="card-header">
        <h5>Create a New Post</h5>
    </div>
    <div class="card-body">
        <div class="container">
            <form method="post" action="New">
                <div class="form-group">
                    <label for="PostTitle">Title</label>
                    <input type="text" class="form-control" id="PostTitle" placeholder="Post title">
                </div>
                <div class="form-group">
                    <label for="PostPhoneNumber">Phone Number</label>
                    <input type="text" class="form-control" id="PostPhoneNumber" placeholder="Post phone number">
                </div>
                <div class="form-group">
                    <label for="PostEmail">Phone Email</label>
                    <input type="text" class="form-control" id="PostEmail" placeholder="Post email">
                </div>
                <div class="form-group">
                    <label for="PostAddress">Address</label>
                    <input type="text" class="form-control" id="PostAddress" placeholder="Post address">
                </div>
                <div class="form-group">
                    <label for="PostDescription">Description</label>
                    <textarea class="form-control" rows="4" id="PostDescription" placeholder="Post description"></textarea>
                </div>
                <div class="form-group">
                @{
                    foreach (string day in @Model)
                    {
                        <div class="day-check-tuple">
                            <div class="form-check form-day-check">
                                <input type="checkbox" class="form-check-input day-check-box" id=@($"day-{day}")>
                                <label class="form-check-label" for=@($"day-{day}")>@day</label>
                            </div>
                            <div hidden class="work-time-container">
                                <span class="time-from-label">From</span>
                                <input type="text" class="working-hour-from" data-format="HH:mm" data-template="HH : mm" name="datetime">
                                <span class="time-to-label">To</span>
                                <input type="text" class="working-hour-to" data-format="HH:mm" data-template="HH : mm" name="datetime">
                            </div>
                        </div>
                    }
                }
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>