<head>
    <link rel="stylesheet" type="text/css" href="~/css/individualBusinessPage.css"/>
</head>
<body>
    <div id ="frame">
        <!-- Remelis -->
        <div>
            <!-- Header -->
            Header

        </div>
        <div>
            <!-- Product -->
            Product

        </div>
        <div>
            <!-- Description -->
            Description: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

        </div>
        <div>
            <!-- PhoneNumber -->
            PhoneNumber

        </div>

    </div>
</body>
