<div class="auth-container">
    <div class="container box">
        <div class="form-group">
            <label>Search for a business</label>
            <input class="form-control">
        </div>
        <input type="checkbox" name="searchDescription">
        <label>Search in business Description</label>
    </div>
</div>
