@model Support_Your_Locals.Models.UserRegisterModel
<div class="auth-container">
    <div class="container box">
        <h1>Sign In</h1>
        <form asp-action="SignIn" method="post">
            <div class="form-group">
                <label asp-for="Email">Email address</label>
                <input asp-for="Email" class="form-control">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label asp-for="Name">Password</label>
                <input asp-for="Name" class="form-control">
            </div>
            <!--<div class="form-group">
                <label asp-for="Surname">Enter your surname</label>
                <input asp-for="Surname" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="BirthDate">Enter your birth date</label>
                <input asp-for="BirthDate" class="form-control">
            </div>-->

            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>