@{
    ViewData["Title"] = "Advertise adding";
}
<h1>@ViewData["Title"]</h1>

<p>You must be signed in to add advertise. Please <a href="../Auth/SignIn">sign in</a> or <a href="../Auth/SignUp">sign up</a></p>
