@model List<string>
@{
    ViewData["Title"] = "Home Page";
    List<string> skelbimai = ViewData["skelbimai"] as List<string>;
    
}
<div class="text-center">
    <h1 class="display-4">Welcome to Dottle</h1>
    <p class="lead">Your single point of contact for working with local businesses</p>
    <p>Here are the latests posts</p>
    <div class="container">
        @{
            foreach (string skelbimas in @Model)
            {
                <div class="card post-entry">
                    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-body">
                        <h5 class="card-title">@skelbimas</h5>
                        <p class="card-text">Check out their products</p>
                        <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
