@{
    ViewData["Title"] = "Home Page";
    List<string> skelbimai = ViewData["skelbimai"] as List<string>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Enjoy your visit! Here are the latest posts</p>
    @{
        foreach(string @skelbimas in skelbimai)
        {
            <div>@skelbimas</div>
        }
    }
</div>
